* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F8F9;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    background-color: white;
    font-size: 40px;
    padding: 10px 15px;
}

img.logo {
    vertical-align: middle;
}

.lists {
    background-color: white;
    width: 900px;
}